page-profile-setup-step1 {
  .item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 1px solid #dedede;
  }
  .item-md {
    width: 100% !important;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 1px solid #dedede;
  }
  .item-ios {
    width: 100% !important;
  }
}
