page-paymentmethod-select {
  .label-md {
    margin: 13px 8px 13px 5% !important;
  }
  .label-ios {
    margin: 13px 8px 13px 5% !important;
  }
  .scroll-content {
    overflow: hidden;
  }
  .row {
    align-items: center;
  }
}
