page-dosagereminder-add {
  .scroll-content {
    overflow: hidden;
  }
  .label-md {
    color: map-get($colors, dark);
    font-size: 15px;
  }
  .label-ios {
    color: map-get($colors, dark);
    font-size: 15px;
  }
  .small {
    width: 80%;
    margin-left: 10%;
  }
}

ion-app.md [padding-left] {
  padding-left: 5%;
}
