page-prescription-list {
  .devider {
    text-align: center;
    background: map-get($colors, primary);
    font-size: 18px;
    font-weight: bold;
    color: map-get($colors, white-a) !important;
  }
  .col {
    padding: 0px;
  }
  .label {
    font-weight: normal;
  }
  .color-a {
    color: map-get($colors, color-a)
  }
  .icon-a {
    color: map-get($colors, color-b);
    font-size: 17px;
  }
  .col-x {
    color: #556B2F;
    font-size: 12px;
  }
  .col-b {
    color: #287;
    font-size: 13px;
  }
  .icon-b {
    color: #287;
    font-size: 17px;
  }
  .col-2 {
    color: #756089 !important;
  }
  .icon-p {
    color: #8f1440;
    font-size: 17px;
  }
  .icon-c {
    color: #556B2F;
    font-size: 17px;
  }
  .item-md {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    border-bottom: 1px solid map-get($colors, dark);
  }
  .item-ios {
    width: 100% !important;
    border-bottom: 1px solid map-get($colors, dark);
  }
  .item-wp {
    width: 100% !important;
    border-bottom: 1px solid map-get($colors, dark) !important;
  }
  .border {
    border: 1px solid map-get($colors, danger-a);
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
  }
  .card-ios {
    margin: 7px;
    border-radius: 2px;
    width: calc(100% - 14px);
    font-size: 1.4rem;
    background: map-get($colors, white-a);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .card-wp {
    margin: 7px;
    border-radius: 2px;
    width: calc(100% - 14px);
    font-size: 1.4rem;
    background: map-get($colors, white-a);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .card-md {
    margin: 7px;
    border-radius: 2px;
    width: calc(100% - 14px);
    font-size: 1.4rem;
    background: map-get($colors, white-a);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .label-a {
    color: map-get($colors, danger-a)
  }
}
