page-appointment-details {
  .col {
    height: 20px;
  }
  .icon {
    font-size: 30px;
  }
  .border-a {
    border-bottom: 1px solid map-get($colors, primary) !important;
    padding-bottom: 6px !important;
  }
}

ion-app.md [padding-top] {
  padding-top: 4px !important;
}
